@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');


.App {
  text-align: center;
  background-color: white;
 
}

h1 {
  color: #333;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  pointer-events: none;
}
